th{
    background: rgb(146,149,22);
    background: radial-gradient(circle, rgba(146,149,22,1) 0%, rgba(91,98,6,1) 100%);
}
 td{
    background: rgb(22,149,143);
background: radial-gradient(circle, rgba(22,149,143,1) 0%, rgba(6,96,98,1) 100%);
 }
